body {
    background-image: url('bg.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
nav {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: 100% 300px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .project-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .tagline {
    font-size: 12px;
    color: #ffffff;
  }
  
  .middle-logo {
    margin: 0 0px;
  }
  .middle-logo img{
    width: 150px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #ccc;
  }


#webcam {
    margin: 20px auto; /* adjust the top margin as needed */
    width: 50%; /* adjust the width as needed */
    text-align: center;
  }
#calibrate {
    display: block;
    margin: 0 auto;
  }
.button2 button {
    margin-right: 0;
    margin-left: 0;
    width: 10rem;
  }

.button2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .button2 button:first-child {
    margin-right: 10%;
  }
  /*
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

footer {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    color: #fff;
    padding-top: 2rem;
    text-align: center;
    margin-top: 30px;
    backdrop-filter: blur(5px); /* add blur effect to footer background */
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  .developers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .developer {
    margin: 20px;
  }
  
  .rounded-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .developer p {
    margin-bottom: 10px;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
  }